.imagenPricipalInicio {
    height: 500px;
    border-radius: 0 0 10px 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border: 1px solid #DEE2E6 ;
    border-top: none;
    color: #f7c4a7;
}