<div class="container-principal">
  <h1>En <span style="color:#4B88A2">Lazzo</span> un amigo espera</h1>

  <h3 class="mx-3">En busca de un hogar</h3>

  <!--Carrousel-->
  <div id="carouselPerros" class="carousel slide mx-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item active w-100">
        <!--Carta-->
        <div class="card mx-auto">
          <img src="assets/perro.png" class="card-img-top" alt="...">
          
          <div class="card-body">
            <div class="container-fluid justify-content-between" style="padding: 0px;">
              
              <span>
                <h5 class="card-title">Roco</h5>
                <p class="card-text">Chubut-AR</p>              
              </span>
              <span>
                <ion-icon name="share-social-outline" class="h-6" style="width: 32px;
                height: 32px;"></ion-icon>
                <ion-icon name="heart-outline"  style="width: 32px;
                height: 32px;"></ion-icon>
              </span>
            </div>
            <div class="container-fluid justify-content-evenly" style="margin-top: 16px;">
              <a href="#" class="btn boton-mas-info">Mas info</a>
              <a href="#" class="btn boton-adoptar">Adoptar</a>
            </div>
          </div>
          
        </div>
      </div>

      <div class="carousel-item w-100">
        <!--Carta-->
        <div class="card mx-auto" style="background: var(--cards-gradient-gatos, linear-gradient(237deg, rgba(16, 214, 12, 0.20) 26.61%, rgba(17, 17, 17, 0.04) 59.46%), linear-gradient(0deg, rgba(51, 51, 51, 0.50) 0%, rgba(51, 51, 51, 0.50) 100%), linear-gradient(165deg, #5ED5E5 0.41%, #333 73.65%));">
          <img src="assets/perro.png" class="card-img-top" alt="...">
          
          <div class="card-body">
            <div class="container-fluid justify-content-between" style="padding: 0px;">
              
              <span>
                <h5 class="card-title">Roco</h5>
                <p class="card-text">Chubut-AR</p>              
              </span>
              <span>
                <ion-icon name="share-social-outline" class="h-6" style="width: 32px;
                height: 32px;"></ion-icon>
                <ion-icon name="heart-outline"  style="width: 32px;
                height: 32px;"></ion-icon>
              </span>
            </div>
            <div class="container-fluid justify-content-evenly" style="margin-top: 16px;">
              <a href="#" class="btn boton-mas-info">Mas info</a>
              <a href="#" class="btn boton-adoptar">Adoptar</a>
            </div>
          </div>
          
        </div>
      </div>

      <div class="carousel-item w-100">
        <!--Carta-->
        <div class="card mx-auto">
          <img src="assets/perro.png" class="card-img-top" alt="...">
          
          <div class="card-body">
            <div class="container-fluid justify-content-between" style="padding: 0px;">
              
              <span>
                <h5 class="card-title">Roco</h5>
                <p class="card-text">Chubut-AR</p>              
              </span>
              <span>
                <ion-icon name="share-social-outline" class="h-6" style="width: 32px;
                height: 32px;"></ion-icon>
                <ion-icon name="heart-outline"  style="width: 32px;
                height: 32px;"></ion-icon>
              </span>
            </div>
            <div class="container-fluid justify-content-evenly" style="margin-top: 16px;">
              <a href="#" class="btn boton-mas-info">Mas info</a>
              <a href="#" class="btn boton-adoptar">Adoptar</a>
            </div>
          </div>
          
        </div>
      </div>


  </div>

</div>