<footer >
    <h5 class="card-title">Lazzo</h5>
  
    <div class="footer-content ">
  
      <div class="container-fluid justify-content-center">
        <div class="footer-text me-2"><a href="">Adoptar</a></div>
        <div class="footer-text"><a href="">Dar en adopción</a></div>
      </div>
  
      <div class="container-fluid justify-content-center">
        <div class="footer-text me-2"><a href="">¿Quiénes somos?</a></div>
        <div class="footer-text"><a href="">¿Cómo funciona Lazzo?</a></div>
      </div>
    
      <div class="container-fluid justify-content-center" style="margin-top: 40px;">
        <div class="footer-secundario me-2"><a href="">© 2024 Lazzo</a></div>
        <div class="footer-secundario me-2"><a href="">Términos y condiciones</a></div>
        <div class="footer-secundario me-2"><a href="">Privacidad</a></div>
        <div class="footer-secundario me-2"><a href="">Cookies</a></div>
      </div>
      
    </div>
  
  </footer>